<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   <script src="https://cdn.tailwindcss.com"></script>

</head>

<body class=" bg-zinc-900 text-white">


    <div class="content  m-10 text-left p-6">
        <h1 class="text-4xl mb-8 ">
            <%=info.heading%>
        </h1>

        <p class=" w-100 mb-12">
            <%=info.content%>
        </p>

        <button><a href="/profile" class="bg-yellow-400 text-black mt-5">Go back</a></button>
    </div>
</body>

</html>